/* Modifiche per la sezione Stats */

.stats-grid:first-child .stat-number {
  position: relative;
  padding-top: 50px;
}
.stats-grid:first-child .stat-number::before {
  content: "\1F525";
  font-size: 30px;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0;
}

.stats-grid:last-child {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
.stats-grid:last-child .stat-number,
.stats-grid:last-child .stat-label {
  color: white;
}

/*Modifiche hover sezione Stats */
.stats-grid{
    transition: translate 0.3s ease, box-shadow 0.3s ease;
}
.stats-grid:hover {
  translate: 0 -5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*Modifiche al piano di allenamento */
.workout-plan:nth-child(3) {
  border-left: 5px solid #f39c12;
  background: #fff8ba;
}

/* Modifiche agli esercizi di oggi */
.exercise-item {
  position: relative;
}

.exercise-item:first-child {
  background: #f0fff4;
  border-left: 4px solid #2fcc71;
}

.exercise-item:last-child {
  padding-top: 30px;
  background: #f0fff4;
  border-left: 4px solid #2fcc71;
}

.exercise-item:nth-child(2) {
  padding-top: 30px;
}

.exercise-item:nth-child(even) .exercise-name::before {
  content: "\26A1";
  position: absolute;
  top: 5px;
  left: 5px;
  translate: 50% 0;
}

/* Modifiche ai campi imput */

.goal-input-group input:focus,
.goal-input-group select:focus {
  border: 1px solid #667eea;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.goal-input-group input,
.goal-input-group select {
  transition: border 0.5s ease, box-shadow 0.2s ease;
}

/* Modifiche al pulsante salva */

@property --gradient-start{
  syntax:'<color>';
  initial-value: #667eea;
  inherits: false;
}
@property --gradient-end{
  syntax:'<color>';
  initial-value: #667eea;
  inherits: false;
}
.save-btn {
    transition: translate 0.3s ease, box-shadow 0.3s ease, 
    --gradient-start 2s ease, --gradient-end 2s ease;
    background:linear-gradient(135deg, var(--gradient-start) 0%, var(--gradient-end) 100%);
}
.save-btn:hover{
    translate: 0 -2px;
    --gradient-end: #764ba2;
    box-shadow: 0 0 10px rgba(0, 0, 155, 0.5)
}

/* Modifiche alla barra di progresso */
.progress-bar{
    position:relative;
}
.progress-fill::after{
    content:"65%";
    color:white;
    position:absolute;
    font-size:10px;
    top:0;
    right:0;
    translate: -50% -15%;
}

/*Modifiche alla barra di navigazione */
.nav-item:hover{
    background: #34495E;
    color: #3C63D9;
}
.nav-item:first-child{
    background: #34495E;
    color: #3C63D9;
}

/*Virgolette Decorative alla Citazione */
.quote-box{
    position:relative;
}
.quote-box p::before{
    content:"\201C";
    font-size: 50px;
    position: absolute;
    top: 0;
    left: 0;
    translate: 50% 0;
    opacity: 0.5;
}
.quote-box p::after{
    content:"\201D";
    font-size: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    translate: -75% ;
    opacity: 0.5;
}